<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs
} = cfg
%>

<%
const classes = `footer ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<footer
	class="<%= classes %>"
	<%- extraAttrs %>
>
<div class="footer__container container">


	<div class="footer__top grid">

	<div class="footer__top-right grid__item">
		<div class="footer__logo">
			<%- require("../logo/template.ejs")({
				extraClasses: [
					"footer__logo"
				],
				isAltView: true
			}) %>
		</div>
	</div>
	<div class="footer__top-middle grid__item">
		<nav class="footer__navigation">
			<ul class="footer__navigation-list">
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">Продукция</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Лодки</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Катеры</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Плоты</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Парусники</a></li>
			</ul>
			<ul class="footer__navigation-list">
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">О компании</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">Карьера</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">Исследования</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">События</a></li>
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">Политика конфиденциальности</a></li>
			</ul>
			<ul class="footer__navigation-list">
				<li class="footer__navigation-item"><a href="/" class="footer__navigation-link footer__navigation-link--main">Контакты</a></li>
				<li class="footer__info-item">
					<div class="footer__info-label">
						Телефоны:
					</div>
					<div class="footer__info-val">
						<a class="footer__info-link" href="tel:+70000000000">+7 (000) 000-00-00</a>(для звонков по России)<br>
						<a class="footer__info-link" href="tel:+70000000000">+7 (000) 000-00-00</a>
					</div>
				</li>
				<li class="footer__info-item">
					<div class="footer__info-label">
						E-mail:
					</div>
					<div class="footer__info-val">
						<a class="footer__info-link" href="mailto:company@mail.ru">company@mail.ru</a>
					</div>
				</li>
			</ul>

		</nav>
	</div>
	<div class="footer__top-left grid__item">
		<div class="socials">
			<div class="socials__label">
				Поделиться страницей с соц. сетях:
			</div>
			<ul class="socials__container">
						<li class="socials__item">
							<a href="" class="socials__link">
								<svg class="i-icon">
									<use href="#icon-youtube"></use>
								</svg>
							</a>
						</li>
						<li class="socials__item">
							<a href="" class="socials__link">
								<svg class="i-icon">
									<use href="#icon-facebook"></use>
								</svg>
							</a>
						</li>
						<li class="socials__item">
							<a href="" class="socials__link">
								<svg class="i-icon">
									<use href="#icon-linkedin"></use>
								</svg>
							</a>
						</li>
					</ul>
		</div>
	</div>
</div>
	<div class="footer__bottom grid">
		<div class="footer__bottom-left grid__item">© 2006-2022 COMPANY</div>
		<div class="footer__bottom-right grid__item">Все права защищены. Копирование информации сайта допустимо только с письменного разрешения администрации.<br>
			Правила обработки персональных данных и хранении данных cookie.
		</div>
	</div>
</div>
</footer>
