@import "../../styles/mixins.pcss";

.logo {

    &__img {
        width: 253px;
        height: 62px;
    }
    &__alt-img {
        width: 116px;
        height: 80px;
    }

}

@media (--mobile) {
    .logo {
        &__img {
            width: 126px;
            height: 31px;
        }
        &__alt-img {

        }
    }
}