@import "../../styles/mixins.pcss";

.logo{
    &__img {
        object-fit: cover;
        display: inline-flex;
    }
    &__img-small{
        object-fit: cover;
        display: none;
    }
}

@media (--mobile) {
    .logo{
        &__img {
            display: none;
        }
        &__img-small{
            display: inline-flex;
        }
    }
}