@import "../../styles/mixins.pcss";

.logo__img{
    object-fit: cover;
}
.logo{
    display: inline-flex;
}
.logo-small{
    display: none;
}

@media (--mobile) {
    .logo{
        display: none;
    }
    .logo-small{

        display: inline-flex;
    }
}