<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
%>

<div class="timer">
	<div class="timer__label"><%= label %></div>
	<div class="timer__interval" data-js-timer='<%- JSON.stringify(cfg) %>'></div>
</div>